<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">admin</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgresdb</property>

		<property name="connection_pool_size">1</property>

		<property name="hbm2ddl.auto">update</property>

		<property name="show_sql">true</property>

		<mapping class="com.vmac.hibernate.persistancecore.entities.Contact" />
		<mapping class="com.vmac.hibernate.persistancecore.entities.Product" />
		<mapping class="com.vmac.hibernate.persistancecore.entities.Phone" />
		<mapping class="com.vmac.hibernate.persistancecore.entities.Book" />
		<mapping class="com.vmac.hibernate.persistancecore.entities.AirQualityData" />

	</session-factory>

</hibernate-configuration>

